* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
}

/* Header Styles */
header .jumbotron {
    background-color: #4D4C7D;
    padding: 2rem;
    text-align: left;
}

header .jumbotron h1 {
    color: #F99417;
    font-size: 3rem;
}

header .jumbotron p {
    font-weight: 400;
    font-size: 1.3rem;
    color: white;
    margin-top: .5rem;
}

header nav {
    background-color: #363062;
    box-shadow: 0 2px 5px #4D4C7D;
    position: sticky;
    top: 0;
}

header nav ul {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
    padding: 1.3rem 2rem;
    list-style-type: none;
    overflow: auto;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 300ms;
}

header nav ul li a:hover {
    color:#F99417;
}

/* Hamburger Menu Styles */
header nav .menu {
    display: none;
    justify-content: space-around;
    flex-direction: column;
    width: 30px;
    height: 30px;
    transition: 300ms;
    position: relative;
    margin: auto;
}
  
header nav .menu input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}
  
header nav .menu input:hover ~ span {
    background-color: #ccc;
}
  
header nav .menu span {
    width: 30px;
    height: 3px;
    border: none;
    border-radius: 3px;
    background-color: #eee;
    transform-origin: 0 0;
    transition: 300ms;
}

header nav .menu input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(1px, -2px);
}
  
header nav .menu input:checked ~ span:nth-child(3) {
    transform: rotate3d(0, 1, 0, 90deg);
    transform-origin: 50% 50%;
    opacity: 0;
}
  
header nav .menu input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg);
}

/* Main Styles */
main {
    background-color: #F5F5F5;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
}

main #content {
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main #content article h2 {
    color: #F99417;
    font-size: 1.4rem;
    background-color: #4D4C7D;
    display: inline-block;
    border-radius: 1rem;
    padding: 5px 10px;
    margin-left: 2rem;
}

main #content article p {
    font-size: 1.1rem;
    text-align: justify;
    padding: 0 2rem;
    margin-top: .5rem;
}

main aside {
    flex-basis: 25%;
    height: max-content;
    border-radius: .3rem;
    box-shadow: 0 0 5px 2px #ccc;
    background-color: #F5F5F5;
    color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main aside h2 {
    color: #F99417;
    background-color: #4D4C7D;
    display: inline-block;
    border-radius: 1rem;
    padding: 5px 10px;
}

main aside img {
    border-radius: 50%;
    margin: .7rem 0;
}

main aside h3 {
    font-size: 1.3rem;
}

main aside table {
    font-size: 1.1rem;
}

main aside table td:nth-child(1) {
    display: flex;
    justify-content: space-between;
    gap: .2rem;
}

/* Footer Styles */
footer {
    background-color: #363062;
    color: white;
    padding: 2rem;
    text-align: center;
    font-size: 1.2rem;
}

/* To Top Button Styles */
.toTopPage {
    border: none;
    border-radius: 20%;
    display: flex;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    background-color: #4D4C7D;
    rotate: 180deg;
    padding: .5rem 0;
}

.toTopPage a {
    text-decoration: none;
    margin: auto;
    color: #F99417;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 1rem;
}

/* Media Quary */
@media screen and (max-width: 1200px) {
    html {
        font-size: 85%;
    }

    main #content {
        flex-direction: column;
        flex-basis: 100%;
    }

    main aside {
        margin-top: 2rem;
        flex-basis: 100%;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 80%;
    }

    header nav {
        padding: 1rem;
    }

    header nav .menu {
        display: flex;
    }

    header nav ul li a {
        margin: 10px 10px;
        font-size: 1.4rem;
        color: black;
    }

    header nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 100%;
        background-color: #F5F5F5;
        box-shadow: 0 3px 5px 2px #ccc;
        padding: 20px 40px;
        border-radius: 10px;
        z-index: -999;
        transition: 300ms;
        transform: scaleY(0);
        transform-origin: top;
        width: 100%;
        margin-left: -12px;
    }

    header nav ul.active {
        transform: scaleY(1);
    }

    header nav ul li a::after {
        border-bottom: none;
    }

    header nav ul li a:hover {
        color: #F99417;
    }
}